.Toastify__toast {
  border-radius: 12px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
  padding: 14px 20px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.Toastify__toast--success {
  background-color:#fff; 
  color: green;
}

.Toastify__toast--error {
  background-color: #fff; /* Tailwind red-600 */
  color: #dc2626;
}

.Toastify__toast--warning {
  background-color: white; /* Tailwind amber-500 */
  color: #f59e0b;
}

.Toastify__toast--info {
  background-color:#fff ; /* Tailwind blue-500 */
  color: #3b82f6;
}

.Toastify__progress-bar {
  background-color: white;
}

/* Exact center positioning */
.Toastify__toast-container {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  position: fixed !important;
}